wheel==0.40.0
setuptools==67.6.0
twine==4.0.2
build==0.10.0
html-testRunner~=1.2.1
pkgversions==0.2.2
mypy==1.1.1
mypy-extensions==1.0.0
types-Deprecated==1.2.9.1
types-setuptools==67.6.0.5
typing_extensions==4.5.0
Deprecated~=1.2.13

buildlackey~=0.6.0

hasiihelper==0.1.0
